:root {
    --lightblue: #083cac;
    --font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
} 

body {
    background-color: #e5e5e5;
    padding: 1.5em;
}

h1 {
    color: #000814;
    font-family: var(--font-family);
    padding: 3px;
    text-decoration: underline 3px;
    text-underline-offset: 12px;
    letter-spacing: 0.05em;
}

h2{
    font-family: var(--font-family);
    color: #001d3d;

}

h3 {
    color: #003566;
}
p {
    color: var(--lightblue);
    font-family: var(--font-family);
}
